body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1,
h2 {
  text-align: center;
  font-weight: 200;
}

.saveBtn {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-right-radius: 15px solid black;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  font-style: normal 1px solid black;
  font-size: 20px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}